@import "layout.scss";

h3 {
    margin-bottom: 0;
    color: rgba(0, 0, 0, 0.85);
}

p.subtitle {
    margin-top: 0;

    font-size: 15px;
}

p:not(.no-format) {
    font-size: 16px;
}

p.disclaimer {
    font-size: 13px;
    font-style: italic;
}

iframe {

    &.hor {
        width: 426px;
        height: 240px;
    
        @media screen and (max-width: $maxMobile) {
            width: 300px;
            height: 200px;
        }
    }

    &.ver {
        width: 288px;
        height: 512px;

        @media screen and (max-width: $maxMobile) {
            width: 180px;
            height: 320px;
        }
    }
}

hr.separator {
    opacity: 0.6;
}