<div class="inner inner-long">

    <!-- UPDATES HEADER -->
    <h2>Our latest updates</h2>
    <p class="no-format">Our latest updates relating to ours and our partner schools' journeys will be posted here.</p>
    <hr>

    <div class="update" *ngFor="let update of updates" [id]="update.getId()">
        <h3>{{ update.getTitle() }}</h3>
        <p class="subtitle no-format">{{ update.getDate() }}</p>

        <span [innerHtml]="update.getHtmlContent()"></span>

        <hr class="separator">
    </div>
    

</div>