$colorTextPrimary: #333;
$colorTextSecondary: #666;
$colorTextTertiary: #999;
$colorTextHref: rgb(53, 88, 134);

$colorBackgroundPrimary: #fff;
$colorBackgroundSecondary: #f7b500;

$colorBorderPrimary: #333;
$colorBorderSecondary: #f7b500;
