<style>
  @keyframes twinkling {
    0% {
      opacity: 1;
      color: black;
    }
    50% {
      opacity: 0.5;
      color: red;
    }
    100% {
      opacity: 1;
      color: black;
    }
  }

  /* Add the @font-face rule to import the custom font */
  @font-face {
    font-family: "NatureFont";
    src: url("path/to/your/custom/font.woff2") format("woff2"),
      url("path/to/your/custom/font.woff") format("woff");
    /* Replace 'path/to/your/custom/font' with the actual path to your custom font files */
    /* Include different file formats for better browser compatibility */
    /* You can also use a web font provider like Google Fonts */
  }

  /* Apply the custom font to the desired elements */
  h2 {
    font-family: "NatureFont", sans-serif;
  }

  .updates-list {
    list-style-type: none; /* Remove bullet points from the list */
  }

  .updates-list li {
    display: flex; /* Enable flex layout to align image and text */
    align-items: center; /* Vertically align image and text */
    margin-bottom: 20px; /* Add spacing between updates */
  }

  .garden-photo,
  .Cactus-photo {
    width: 200px; /* Adjust the width of the images */
    height: auto; /* Maintain the aspect ratio */
    border: 2px solid white; /* Add a white border to the image */
    border-radius: 50%; /* Make the images circular */
    margin-right: 20px; /* Add spacing between image and text */
  }

  .under-development-bar {
    background-color: #f9f9f9; /* Set background color for the bar */
    border: 2px solid red; /* Add a red border */
    border-radius: 50px; /* Make the bar pill-shaped */
    padding: 20px; /* Add padding for content spacing */
    display: flex; /* Enable flex layout */
    align-items: center; /* Vertically align content */
    justify-content: center; /* Horizontally align content */
    animation: twinkling 2s ease-in-out infinite; /* Apply the twinkling animation */
    margin-bottom: 20px; /* Add spacing below the bar */
  }

  .under-development-bar img {
    width: 40px; /* Adjust the width of the hammer image */
    height: 40px; /* Adjust the height of the hammer image */
    margin-right: 10px; /* Add spacing between icon and text */
  }

  .under-development-bar span {
    display: inline-block; /* Make the span element take up only necessary space */
    font-size: 24px; /* Increase the font size */
    font-weight: bold; /* Add emphasis to the text */
  }

  .inner {
    background-color: #ffe30b; /* Set a funky background color */
    padding: 20px; /* Add padding for content spacing */
    border-radius: 20px; /* Add rounded corners */
    margin-bottom: 20px; /* Add spacing below the section */
  }

  .inner h2 {
    font-size: 36px; /* Increase the font size */
    color: purple; /* Change the font color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add a text shadow */
    margin-bottom: 10px; /* Add spacing below the heading */
  }

  .inner p {
    font-size: 18px; /* Increase the font size */
    line-height: 1.5; /* Adjust the line height */
    color: rgb(0, 0, 0); /* Change the font color */
  }

  .updates-container {
    background-color: white; /* Set a white background color */
    padding: 20px; /* Add padding for content spacing */
    border-radius: 10px; /* Add rounded corners */
  }

  .updates-container h3 {
    font-size: 24px; /* Increase the font size */
    color: purple; /* Change the font color */
    margin-bottom: 10px; /* Add spacing below the heading */
  }

  .updates-container p {
    font-size: 16px; /* Decrease the font size */
    line-height: 1.3; /* Adjust the line height */
    margin-bottom: 10px; /* Add spacing below the paragraphs */
  }
</style>
<div class="inner">
  <!-- SALES HEADER -->
  <h2>Holly's Garden</h2>
  <hr />

  <div>
    <p>Here are some images of what we are up to</p>

    <div class="updates-container">
      <h3>Latest Updates</h3>
      <ul class="updates-list">
        <li>
          <img
            class="garden-photo"
            src="../../../assets/gallery_images/Dome.png"
            alt="Dome"
          />
          <p>Update 1: We have successfully built the dome!</p>
        </li>
        <li>
          <img
            class="garden-photo"
            src="../../../assets/gallery_images/Pond-photo.jpeg"
            alt="Pond"
          />
          <p>
            Update 2: We have built the pond and implemented goldfish within
          </p>
        </li>

        <li>
          <img
            class="Cactus-photo"
            src="../../../assets/gallery_images/Cactus-photo.jpeg"
            alt="Cactus"
          />
          <p>
            Update 3: We have purchased a very prickly Cactus. This is because
            Holly adored cacti and appreciated the beauty of it.
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
