<span class="page-container">
  <header>
    <div class="topbar">

      <!-- <div class="banner alert">
        <p>We are currently <span class="bold">sold out</span> of honey. New production will begin in Spring 2021.</p>
      </div> -->

      <!-- <div class="banner notice">
        <p>Looking for our latest updates? Visit <a routerLink="/updates" class="nice_link">our updates page.</a></p>
      </div> -->

      <!-- <div class="banner alert">
        <p>Take a look at our brand-new <a routerLink="/hive" class="nice_link bold">beehive monitor</a>!</p>
      </div> -->

      <div class="topbar__inner">
        <div class="logo">
          <a routerLink="/">
            <img src="../assets/logo.svg" alt="CardyHoney" />
          </a>
        </div>
        <div class="topbar__spacer"></div>
        <app-navigation></app-navigation>
      </div>
    </div>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
  <footer>
    <app-footer></app-footer>
  </footer>
</span>

<!-- Don't think the page container does anything but the footer breaks without it? -->