<style>
  .committee-table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
  }

  .committee-table th {
    background-color: #ffd700; /* Set a golden yellow background color for the table headers */
    color: #000000; /* Set the font color to black */
    font-weight: bold;
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #000000; /* Add a black border to the bottom of the table headers */
  }

  .committee-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #000000; /* Add a black border to the bottom of each table cell */
  }

  .committee-table .title {
    font-weight: bold;
    color: #a68e06; /* Set the font color to the golden yellow to match the headers */
  }
</style>

<div class="inner inner-long">
  <h2>Committee</h2>
  <p>Our committee, managing all operations of CardyHoney, is as follows:</p>

  <table class="committee-table">
    <thead>
      <tr>
        <th>Role</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="title">President</td>
        <td>Lewis G.</td>
      </tr>
      <tr>
        <td class="title">Chairperson</td>
        <td>Alexa R.</td>
      </tr>
      <tr>
        <td class="title">Technical Lead</td>
        <td>Jacob P.</td>
      </tr>
      <tr>
        <td class="title">Technical Assistant</td>
        <td>Lewis G.</td>
      </tr>
      <tr>
        <td class="title">Business Manager</td>
        <td>Daniel L.</td>
      </tr>
      <tr>
        <td class="title">International - Schools</td>
        <td>Sienna T.</td>
      </tr>
      <tr>
        <td class="title">International - QCT &amp; WE</td>
        <td>Layla B.</td>
      </tr>
    </tbody>
  </table>
  
  <div style="display: flex; margin-top: 50px;">
    <div style="width: 50%;">
      <h2>BEE KEEPERS</h2>
      <p>All of our bee keepers are fully trained by Mr Goldstone. </p>
    </div>
    <div style="width: 50%;">
      <h2>BeeKeepers</h2>
      <table class="committee-table">
        <thead>
          <tr>
            <th>Role</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="title">Head Bee Keeper</td>
            <td>Mr. Sutcliffe</td>
          </tr>
          <tr>
            <td class="title">Bee Keeper</td>
            <td>Lewis G.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
