@import '../../../styles/theme.scss';

td, th {
  font-size: 14px;
}

p {
  font-size: 16px;
}
.committee-table {
  //background-color: rgb(249, 249, 249);
  width: 100%;
  column-width: 50%;
  border-collapse: collapse;

  th, td {
    width: 50%;
    border: 1px solid rgb(0, 0, 0);
  }

  td {
    padding-left: 1%;
  }

  .title {
    background-color: rgb(230, 230, 230);
    font-weight: 500;
  }

  thead tr {
    background-color: rgb(119, 119, 119);
    color: white;
    
    th {
      font-weight: 700;
    }
  }

}