<style>
  /* Hero Section */
  .hero {
    position: relative;
    height: 400px;
    background-image: url('../../../assets/garden.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #ffffff;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .hero .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .hero h1 {
    font-size: 40px;
    margin-bottom: 10px;
  }

  .hero h3 {
    font-size: 24px;
  }

  /* Body Section */
  .body {
    padding: 50px 0;
    background-color: #f5f5f5;
  }

  .body .inner {
    text-align: center;
  }

  .body p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }

  .red {
    color: #ff0000;
  }

  .bold {
    font-weight: bold;
  }

  .nice_link {
    color: #0000ff;
    text-decoration: none;
  }
</style>

<div class="hero">
  <div class="overlay"></div>

  <div class="inner">
    <h1>Welcome to CardyHoney</h1>
    <h3>Empowering students to create bee-friendly environments</h3>
  </div>
</div>

<div class="body">
  <div class="inner">
    <p class="red">
      CardyHoney is a student-led project promoting the international setup of bee-friendly environments.
    </p>
    <p>
      Three schools in the Fleetwood (UK) area - <a class="bold nice_link" href="http://cardinalallen.co.uk">Cardinal Allen High School</a>, <a class="bold nice_link" href="https://www.great-arley.lancsngfl.ac.uk/">Great Arley School</a>,
      and <a class="bold nice_link" href="https://www.shakespeare.lancs.sch.uk/">Shakespeare Primary School</a>, have developed international partnerships with many global schools through 
      the <span class="bold">British Council Connecting Classrooms</span> initiative and the <span class="bold">Foreign, Commonwealth & Development Office</span>. 
    </p>
    <p>
      Some of these global schools are: <a class="nice_link bold" href="https://www.facebook.com/OfficialPageGalaxy/">Galaxy Public School</a> and <a class="bold nice_link" href="https://sudesha.edu.np/">The Sudesha School</a> in
      Kathmandu, Nepal, <a class="bold nice_link" href="https://www.facebook.com/onagih/">Kilimanjaro Academy</a> in Tanzania, and <a class="bold nice_link" href="https://birlahighschool.com/">Birla High School</a> in Kolkata, India.
    </p>
    <p>
      We work collectively to create bee-friendly areas and ensure
      that bees stay protected due to their high importance in human life. We work together to build hives, collect and sell honey, and conserve bees around the world.
    </p>
  </div>
</div>
