@import "theme.scss";
@import "layout.scss";

.navigation {
  margin: 0;
  padding: 0;
  list-style: none;

  .navigation__item {
    display: inline-block;
    padding: 20px;

    @media screen and (max-width: $maxMobile) {
      padding: 10px 20px 10px 0;
    }

    > a {
      display: block;
      border-bottom: 5px solid transparent;
      color: $colorTextPrimary;
      text-decoration: none;
      padding-bottom: 5px;
    }

    &.navigation__item--active > a {
      font-weight: 600;
    }

    :hover {
      border-bottom-color: $colorBorderSecondary;
    }
  }

  @media screen and (max-width: $maxMobile) {
    text-align: center;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-title {
  cursor: pointer;
  border-top: 5px solid transparent;
}

.dropdown-content {
  display: none;
  position: absolute; 
}

.dropdown:hover {

  .dropdown-title {
    padding-top: 5px;
    border-top-color: $colorBorderSecondary;
  }

  .dropdown-content {
    display: flex;
    flex-direction: column;

    border-radius: 2%;
    background-color: rgb(249, 249, 249);
    box-shadow: 0px 8px 7px 0px rgba(0,0,0,0.2);
    z-index: 1;

    padding-bottom: 5px;

    a {
      text-align: left;
      padding: 10px 50px 10px 5px;
      border-bottom: 1px solid lightgray;
      color: rgba(0,0,0,0.8);

      font-size: 14px;
    }

    a:hover {
      color: rgba(0,0,0,1);
      background-color: rgb(240, 240, 240);
    }
  }

}

@keyframes twinkle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.navigation__item {
  /* Add your existing styles for the navigation items */
  transition: opacity 0.5s;
}

.twinkle {
  animation: twinkle 2s infinite;
}
