<ul class="navigation">
  <li class="navigation__item" routerLinkActive="navigation__item--active" [routerLinkActiveOptions]="{ exact: true }">
    <a routerLink="/">Home</a>
  </li>
  <li class="navigation__item" routerLinkActive="navigation__item--active">
    <div class="dropdown" (click)="!!false">
      <span class="dropdown-title">Information</span>
      <div class="dropdown-content">
        <a routerLink="/about">About</a>
        <a routerLink="/committee">Committee</a>
        <!-- <a routerLink="/hive">Beehives</a> -->
      </div>
    </div>
  </li>
  <li class="navigation__item">
    <div class="dropdown" (click)="!!false">
      <span class="dropdown-title">Our Journey</span>
      <div class="dropdown-content">
        <a routerLink="/gallery">Gallery</a>
        <a routerLink="/updates">Updates</a>
        <a routerLink="/holly-garden">Holly's Garden</a>
      </div>
    </div>
  </li>
  <li class="navigation__item" routerLinkActive="navigation__item--active">
    <a routerLink="/sales">Sales</a>
  </li>
  <li class="navigation__item">
    <a href="http://www.cardinalallen.co.uk" target="_blank">School</a>
  </li>
</ul>
  