// Footer CSS, author JACOB PASSAM

@import '../../../styles/layout.scss';

// Footer container 
#footer {
    background-color: hsl(0, 0%, 91%);

    padding: 2vw 0;

    height: auto;
    min-height: 250px;

    width: 100%;
    display: flex;

    @media only screen and (max-width: $maxMobile) {
        height: 200%;
        display: grid;
        grid-template-rows: repeat(2, 50%);
        grid-template-columns: repeat(2, 50%);
    }
}

// Formatting for individual divs inside columns
#footer div {
    flex-grow: 1;
    padding-right: 35px;
    border-right: 0.01em solid rgb(194, 194, 194);

    ul { 
        // Remove the border from list headers; it breaks the lines
        div {
            border-right: none;
        }

        // List item formatting
        li {
            // List header and list items not aligning? *Quick fix*
            padding-left: 1px;

            padding-bottom: 7px;

            list-style: none;
            font-weight: 100;
            font-size: 90%;
        }

        // List header text formatting
        .list-header {
            font-weight: 600;
            text-transform: uppercase;
            
            padding-bottom: 20px;
        }
    }
}


#logo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    grid-column: 4;

    @media only screen and (max-width: $maxMobile) {
        grid-row: 2;
        grid-column: 2;
        align-self: flex-end;
    }

    filter: grayscale(100%);
}

// **************** UTILITY CLASSES ****************

// Basic footer text formatting
.footer-text { color: black; }

// Set bottom border for hover. Only apparant on classes without 'nice_link'
a:hover {
    border-bottom: 1px solid rgb(179, 178, 178);
}

// Remove right-hand border
.no-border {
    border-right: none !important;
}

// Information/open source text. Bumps to the bottom of a column and positions nicely.
#information {
    flex-shrink: 1;

    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

// Remove right-hand border
.no-border {
    border-right: none !important;
}

// Small text.
.small {
    font-size: 80% !important;
}