/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;700;800&display=swap");
@import "layout.scss";
@import "theme.scss";

html,
body {
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

.inner {
  max-width: $innerWidth;
  margin: auto;
  position: relative;
  padding: 20px;
}

.inner-long {
  min-height: $minMainHeight;
}

p {
  color: $colorTextPrimary;
  font-size: 18px;
  line-height: 24px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

// Anchor tags have no formatting unless the 'nice_link' class is used
a { color: black; text-decoration: none;}

.nice_link {
  border-bottom: 1px solid rgb(179, 178, 178);
  color: rgb(53, 88, 134) !important;
}

.bold {
  font-weight: 600;
}
