<style>
  .inner {
    background-color: #ffee00;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    border: 5px solid #ff00ff;
  }

  .inner h2 {
    color: #000000;
    font-size: 28px;
    margin-bottom: 10px;
  }

  .inner hr {
    border: none;
    border-top: 1px solid #000000;
    margin: 20px 0;
  }

  .aha-details {
    margin-bottom: 10px;
  }

  .bold {
    font-weight: bold;
  }

  .nice_link {
    color: #000000;
    text-decoration: underline;
  }

  .sl-info {
    color: #000000;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
  }

  .sl-info:last-child {
    margin-bottom: 0;
  }

  .photo-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .jar-photo {
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  .sales-closed {
    font-size: 40px;
    color: #ff0000;
    margin-top: 20px;
  }

  .sales-icon {
    font-size: 60px;
    margin-top: 10px;
  }
</style>

<div class="inner inner-long">
  <h2>Our Bee-tiful Sales Details</h2>
  <hr>

  <div>
    <p>For orders, please contact:</p>

    <div class="aha-details">
      <ul>
        <li>
          <span class="bold">A. Harding (Community Co-ordinator)</span> at Cardinal Allen High School via
          <a href="tel:01253872659" class="nice_link">01253 872659</a> or
          <a href="mailto:a.harding@cardinalallen.co.uk" class="nice_link">a.harding@cardinalallen.co.uk</a>.
        </li>
      </ul>
    </div>

    <p class="sl-info sales-closed">Sales are now closed</p>

    <p class="sl-info">All profits are re-invested into the project and dedicated to making our local environment more bee-friendly.</p>
    <p class="sl-info">Please do not hesitate to contact us at the number shown above with any queries.</p>

    <hr>

    <div class="photo-container">
      <img class="jar-photo" src="../../../assets/gallery_images/20201007_134250.jpg" alt="CardyHoney Jar Photograph">
    </div>
  </div>
</div>
