@import "../../../styles/theme.scss";

p {
    padding: 0;
}

ul {
    list-style: none;
}

p.sl-info {
    margin: 10px 0;
}

p.sl-smaller {
    font-size: 16px;
}

.jar-photo {
    padding-top: 10px;
    width: 50%;
    height: 50%;

    border-radius: 15px;

    transition: 0.2s transform ease-out;
    &:hover{
        transform: scale(1.02);
    }
    margin-right: 20px;
}

.beeswax-photo {
    padding-top: 10px;
    width: 30%;
    height: 30%;

    border-radius: 15px;

    transition: 0.2s transform ease-out;
    &:hover{
        transform: scale(1.02);
    }
}

.photo-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}